<div class="rental-item-page-wrapper container">
	<div class="rental-item-page-header page-main-header">
		<span>Rental Item</span>
	</div>

	<div class="rental-item-details-container">
		<div class="rental-item-details-content" ng-if="vm.itemExists">
			<div class="rental-item-details-header">
				<span class="u-header">{{ vm.currItemName }}'s Details</span>
				<a class="u-back-btn" href="#/rental">(Back)</a>
				<span class="u-del-btn pull-right">
					<button type="button" class="btn btn-danger" ng-click="vm.confirmDeleteModal()">Delete</button>
				</span>
				<span class="u-edit-btn pull-right">
					<button ng-if="!vm.editMode" type="button" class="btn btn-default" ng-click="vm.enableEditMode()">Edit</button>
					<button ng-if="vm.editMode" type="button" class="btn btn-default" ng-click="vm.disableEditMode()">Cancel</button>
				</span>
				<span class="u-save-btn pull-right">
					<button ng-if="vm.editMode" type="button" class="btn btn-primary" ng-click="vm.saveChanges()">Save</button>
				</span>
				<div class="clearfix"></div>
			</div>
			<div class="rental-item-details">
				<span class="col-xs-3 rental-item-detail-key">Plate No.</span>
					<span ng-if="!vm.editMode" class="col-xs-3">{{ vm.currItem.plate_no }}</span>
					<span ng-if="vm.editMode" class="col-xs-3"><input type="text" ng-model="vm.currItem.plate_no" /></span>
				<span class="col-xs-3 rental-item-detail-key">Make</span>
					<span ng-if="!vm.editMode" class="col-xs-3">{{ vm.currItem.make }}</span>
					<span ng-if="vm.editMode" class="col-xs-3"><input type="text" ng-model="vm.currItem.make" /></span>
				<span class="col-xs-3 rental-item-detail-key">Model</span>
					<span ng-if="!vm.editMode" class="col-xs-3">{{ vm.currItem.model }}</span>
					<span ng-if="vm.editMode" class="col-xs-3"><input type="text" ng-model="vm.currItem.model" /></span>
				<span class="col-xs-3 rental-item-detail-key">Year</span>
					<span ng-if="!vm.editMode" class="col-xs-3">{{ vm.currItem.year_model }}</span>
					<span ng-if="vm.editMode" class="col-xs-3"><input type="text" ng-model="vm.currItem.year_model" /></span>
				<span class="col-xs-3 rental-item-detail-key">Transmission</span>
					<span ng-if="!vm.editMode" class="col-xs-3">{{ vm.currItem.transmission }}</span>
					<span ng-if="vm.editMode" class="col-xs-3"><input type="text" ng-model="vm.currItem.transmission" /></span>
				<span class="col-xs-3 rental-item-detail-key">Max. Load</span>
					<span ng-if="!vm.editMode" class="col-xs-3">{{ vm.currItem.max_load }}</span>
					<span ng-if="vm.editMode" class="col-xs-3"><input type="text" ng-model="vm.currItem.max_load" /></span>
				<span class="col-xs-3 rental-item-detail-key">Times Rented</span>
					<span ng-if="!vm.editMode" class="col-xs-3">{{ vm.currItem.times_rented }}</span>
					<span ng-if="vm.editMode" class="col-xs-3"><input type="text" ng-model="vm.currItem.times_rented" /></span>
				<span class="col-xs-3 rental-item-detail-key">Available?</span>
					<span ng-if="!vm.editMode" class="col-xs-3">{{ vm.convertStatusCodes( vm.currItem.is_available ) }}</span>
					<span ng-if="vm.editMode" class="col-xs-3"><input type="text" ng-model="vm.currItem.is_available" /></span>
				<span class="clearfix"></span>
			</div>
		</div>

		<div class="rental-item-details-content" ng-if="!vm.itemExists">
			<span class="rental-item-details-empty-msg">Rental Item Does Not Exist!</span>
			<a class="u-back-btn" href="#/rental">(Back)</a>
		</div>
	</div>
</div>
