<div class="users-page-wrapper container">
	<div class="users-page-header page-main-header">
		<span>Users</span>
	</div>

	<div class="user-list-container">
		<div class="user-list-content">
			<div class="user-list-header">
				<div class="user-list-header-title pull-left">
					<span>User List</span>
				</div>
				<div class="user-list-add-btn pull-right">
					<button type="button" class="btn btn-primary">Add New User</button>
				</div>
				<div class="user-list-search pull-right">
					<input type="text" ng-model="searchUserText" />
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="clearfix"></div>

			<div class="user-list-body row">
				<div class="user-list-table-heads">
					<span class="col-md-2">Name</span>
					<span class="col-md-1">Nickname</span>
					<span class="col-md-2">Company</span>
					<span class="col-md-2">Account</span>
					<span class="col-md-1">Status</span>
					<span class="col-md-2">Updated On</span>
					<span class="col-md-2">Options</span>
					<span class="clearfix"></span>
				</div>
				<div class="user-list-details">
					<div class="user-entry" ng-repeat="user in vm.userList | filter:searchUserText">
						<span class="col-md-2 view-link" ng-click="vm.viewDetailsModal( user.id )">{{ user.first_name }} {{ user.last_name }}</span>
						<span class="col-md-1" ng-bind="user.nickname"></span>
						<span class="col-md-2" ng-bind="user.company_name"></span>
						<span class="col-md-2" ng-bind="vm.userTypeList[ user.account_type - 1 ].userType"></span>
						<span class="col-md-1" ng-bind="vm.userStatusList[ user.account_status ].userStatus" ng-class="user.account_status ? 'user-active' : 'user-inactive'"></span>
						<span class="col-md-2" ng-bind="user.updated_at"></span>
						<div class="col-md-2 user-actions">
							<a class="view-link" href="">Edit</a> | <span class="view-link" ng-click="vm.confirmDeleteModal( user.id )">Delete</span>
						</div>
						<span class="clearfix"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
