<div class="modal-content user-add-modal">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Add New User</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<form class="user-form-body form-horizontal">
			<div class="user-fld-group-a">
				<div class="form-group user-form-group user-fname">
					<label class="col-xs-4 control-label">First Name</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" placeholder="Enter First Name" />
					</div>
				</div>
				<div class="form-group user-form-group user-lname">
					<label class="col-xs-4 control-label">Last Name</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" placeholder="Enter Last Name" />
					</div>
				</div>
				<div class="form-group user-form-group user-nname">
					<label class="col-xs-4 control-label">Nickname</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" placeholder="Enter Nickname" />
					</div>
				</div>
			</div>

			<div class="user-fld-group-b">
				<div class="form-group user-form-group user-uname">
					<label class="col-xs-4 control-label">Username</label>
					<div class="col-xs-8">
						<input type="email" class="form-control" placeholder="Enter Username" />
					</div>
				</div>
				<div class="form-group user-form-group user-pword">
					<label class="col-xs-4 control-label">Password</label>
					<div class="col-xs-8">
						<input type="password" class="form-control" placeholder="Enter Password" />
					</div>
				</div>
				<div class="form-group user-form-group user-pword-conf">
					<label class="col-xs-4 control-label">Confirm Password</label>
					<div class="col-xs-8">
						<input type="password" class="form-control" placeholder="Re-type Password" />
					</div>
				</div>
			</div>

			<div class="user-fld-group-c">
				<div class="form-group user-form-group user-company">
					<label class="col-xs-4 control-label">Company</label>
					<div class="col-xs-8">
						<select class="form-control">
							<option>- Select a Company -</option>
							<option>Tranzwatch Corp.</option>
							<option>Company B</option>
							<option>Business C</option>
							<option>Employer D</option>
						</select>
					</div>
				</div>
				<div class="form-group user-form-group user-account">
					<label class="col-xs-4 control-label">Account</label>
					<div class="col-xs-8">
						<select class="form-control">
							<option>- Select an Account -</option>
							<option>Admin</option>
							<option>Coordinator</option>
							<option>Booking Officer</option>
							<option>Driver</option>
							<option>Renter</option>
						</select>
					</div>
				</div>
				<div class="form-group user-form-group user-status">
					<div class="col-xs-offset-4 col-xs-8">
					<div class="checkbox">
						<label>
							<input type="checkbox" /> Is Active?
						</label>
					</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="vm.closeModal()">Save</button>
		<button class="btn btn-default" type="button" ng-click="vm.closeModal()">Cancel</button>
	</div>
</div>
