.user-add-modal {
	.user-form-body {
		.user-form-group {
			label {
				text-align : right;

				&.col-form-label {
					padding-top    : 7px;
					padding-bottom : 7px;
					margin-bottom  : 0;
				}
			}
		}

		.user-fld-group-a, .user-fld-group-b {
			margin-bottom : 30px;
		}
	}
}
