<div class="modal-content user-add-modal">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Add New User</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<form class="user-form-body form-horizontal">
			<div class="user-fld-group-a">
				<div class="form-group user-form-group user-fname">
					<label class="col-xs-4 control-label">First Name</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" placeholder="Enter First Name" ng-model="vm.userModel.first_name" />
					</div>
				</div>
				<div class="form-group user-form-group user-lname">
					<label class="col-xs-4 control-label">Last Name</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" placeholder="Enter Last Name" ng-model="vm.userModel.last_name" />
					</div>
				</div>
				<div class="form-group user-form-group user-nname">
					<label class="col-xs-4 control-label">Nickname</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" placeholder="Enter Nickname" ng-model="vm.userModel.nickname" />
					</div>
				</div>
			</div>

			<div class="user-fld-group-b">
				<div class="form-group user-form-group user-uname">
					<label class="col-xs-4 control-label">Username</label>
					<div class="col-xs-8">
						<input type="email" class="form-control" placeholder="Enter Username" ng-model="vm.userModel.username" />
					</div>
				</div>
				<div class="form-group user-form-group user-pword">
					<label class="col-xs-4 control-label">Password</label>
					<div class="col-xs-8">
						<input type="password" class="form-control" placeholder="Enter Password" ng-model="vm.userModel.password" />
					</div>
				</div>
				<div class="form-group user-form-group user-pword-conf">
					<label class="col-xs-4 control-label">Confirm Password</label>
					<div class="col-xs-8">
						<input type="password" class="form-control" placeholder="Re-type Password" ng-model="vm.userModel.password_conf" />
					</div>
				</div>
			</div>

			<div class="user-fld-group-c">
				<div class="form-group user-form-group user-company">
					<label class="col-xs-4 control-label">Company</label>
					<div class="col-xs-8">
						<select class="form-control" ng-options="comp for comp in vm.companyList" ng-model="vm.userModel.company_name">
							<option value="">- Select a Company -</option>
						</select>
					</div>
				</div>
				<div class="form-group user-form-group user-account">
					<label class="col-xs-4 control-label">Account</label>
					<div class="col-xs-8">
						<select class="form-control" ng-options="index*1 as choice for (index, choice) in vm.acctTypeList" ng-model="vm.userModel.account_type">
							<option value="">- Select an Account -</option>
						</select>
					</div>
				</div>
				<div class="form-group user-form-group user-status">
					<div class="col-xs-offset-4 col-xs-8">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-checked="vm.userModel.account_status" ng-model="vm.userModel.account_status" /> Is Active?
						</label>
					</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="vm.submitUser()">Save</button>
		<button class="btn btn-default" type="button" ng-click="vm.closeModal()">Cancel</button>
	</div>
</div>
