<div class="rental-item-page-wrapper container">
	<div class="rental-item-page-header page-main-header">
		<span>Rental Item</span>
	</div>
	<div class="rental-item-list-container" ng-if="!vm.isDetailMode">
		<div class="rental-item-list-content">
			<div class="rental-item-list-header">
				<span>Rental Item List</span>
			</div>
			<div class="rental-item-list-body row">
				<div class="rental-item-list-table-heads">
					<span class="col-xs-3">Plate No.</span>
					<span class="col-xs-3">Model</span>
					<span class="col-xs-3">Available?</span>
					<span class="col-xs-2">Status</span>
					<span class="col-xs-1">Details</span>
					<span class="clearfix"></span>
				</div>
				<div class="rental-item-list-details">
					<div class="item-entry" ng-repeat="item in vm.itemList">
						<span class="col-xs-3" ng-bind="item.plate_no"></span>
						<span class="col-xs-3">{{ item.make }} {{ item.model }} {{ item.year_model }}</span>
						<span class="col-xs-3" ng-bind="vm.convertStatusCodes( item.is_available )"></span>
						<span class="col-xs-2" ng-bind="vm.convertStatusCodes( item.status )"></span>
						<span class="col-xs-1 view-link" ng-click="vm.viewItemDetails( item.id )">View</span>
						<span class="clearfix"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rental-item-details-container" ng-if="vm.isDetailMode">
		<div class="rental-item-details-content">
			<div class="rental-item-details-header">
				<span class="u-header">{{ vm.currItemName }}'s Details</span>
				<span class="u-back-btn" ng-click="vm.viewItemList()">(Back)</span>
			</div>
			<div class="rental-item-details">
				<span class="col-xs-3 rental-item-detail-key">Plate No.</span>
				<span class="col-xs-3">{{ vm.currItem[ 'plate_no' ] }}</span>
				<span class="col-xs-3 rental-item-detail-key">Make</span>
				<span class="col-xs-3">{{ vm.currItem[ 'make' ] }}</span>
				<span class="col-xs-3 rental-item-detail-key">Model</span>
				<span class="col-xs-3">{{ vm.currItem[ 'model' ] }}</span>
				<span class="col-xs-3 rental-item-detail-key">Year</span>
				<span class="col-xs-3">{{ vm.currItem[ 'year_model' ] }}</span>
				<span class="col-xs-3 rental-item-detail-key">Transmission</span>
				<span class="col-xs-3">{{ vm.currItem[ 'transmission' ] }}</span>
				<span class="col-xs-3 rental-item-detail-key">Max. Load</span>
				<span class="col-xs-3">{{ vm.currItem[ 'max_load' ] }}</span>
				<span class="col-xs-3 rental-item-detail-key">Times Rented</span>
				<span class="col-xs-3">{{ vm.currItem[ 'times_rented' ] }}</span>
				<span class="col-xs-3 rental-item-detail-key">Available?</span>
				<span class="col-xs-3">{{ vm.currItem[ 'is_available' ] }}</span>
				<span class="clearfix"></span>
			</div>
		</div>
	</div>
</div>
